/自动化测试/api_test/allure-results/
/自动化测试/api_test/logs/
/自动化测试/Pytest学习/logs/
/自动化测试/Pytest学习/report/
*/logs/
*/log/
log.html
output.xml
report.html
/自动化测试/unittest学习/logs/
/自动化测试/unittest学习/Mock测试/logs/